<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato" />
<div class="taskframe">
    <div class="header">
        <p class="palo-alto">Palo Alto</p>
        <div class="header-menu">
            <button class="menu-button home-button" (click)="home()">HOME</button>
            <div id="homeDropdown" class="dropdown-content">
                <a href="#home1">home1</a>
                <a href="#home2">home2</a>
                <a href="#home3">home3</a>
            </div>
            <button class="menu-button about-button" (click)="about()">ABOUT</button>
            <div id="aboutDropdown" class="dropdown-content">
                <a href="#about1">about1</a>
                <a href="#about2">about2</a>
                <a href="#about3">about3</a>
            </div>
            <button class="menu-button archive-button" (click)="archive()">ARCHIVE</button>
            <div id="archiveDropdown" class="dropdown-content">
                <a href="#archive1">archive1</a>
                <a href="#archive2">archive2</a>
                <a href="#archive3">archive3</a> 
            </div>                       
            <button class="menu-button contact-button" (click)="contact()">CONTACT</button>
            <div id="contactDropdown" class="dropdown-content">
                <a href="#contact1">contact1</a>
                <a href="#contact2">contact2</a>
                <a href="#contact3">contact3</a>                
            </div>    
        </div>
        <button class="search"><i class="fa fa-search"></i></button>
    </div>
    
    
    <div class="postframe">
        <div class="tag">I Do Reflect</div>
        <br>
        <p class="sep-11">Sep 11</p>
        <h1 class="title">Democracy means simply the bludgeoning of the people by the people for the people.</h1>
        <div class="sep"></div>
        <img class="img" src="https://via.placeholder.com/186x387" align="left">
        <img class="imgsmall" src="https://via.placeholder.com/186x387" align="center">
        <p class="text">Quisque congue lacus mattis massa luctus, nec hendrerit purus aliquet. Ut ac elementum urna. Pellentesque suscipit metus et egestas congue. 
            Duis eu pellentesque turpis, ut maximus metus. Sed ultrices tellus vitae rutrum congue. Fusce luctus augue id nisl suscipit, vel sollicitudin orci egestas. 
            Morbi posuere venenatis ipsum, ac vestibulum quam dignissim efficitur. Ut vitae rutrum augue, in volutpat quam. Cras a viverra ipsum. Aenean ut consequat ex, 
            vitae vulputate nunc. Vestibulum metus nisi, aliquam sed tincidunt sit amet, pretium et augue.<br><br>Mauris sem odio, rhoncus eget euismod sed, pellentesque 
            sit amet felis. Praesent dictum eleifend dui et efficitur. Nunc non orci in neque sodales semper. Etiam euismod volutpat lorem, <a href="" target="_blank">
            estibulum malesuada</a> justo aliquet eget. Nunc lacus ante, varius a euismod eu, finibus commodo erat. Curabitur tincidunt sit amet nunc id interdum. Aliquam 
            augue nisi, venenatis vitae exat, lobortis fringilla nibh. Proin placerat enim vitae egestas eleifend. Aliquam quis orci dignissim, posuere nibh a, eleifend 
            augue. Cras quis metus nec tortor aliquet ullamcorper. Quisque varius porta metus, ut maximus dolor euismod nec. Suspendisse sit amet feugiat turpis.
        </p>
        <br>
        <p class="graytext">Curabitur ut leo pulvinar, consectetur magna eu, feugiat purus. Morbi hendrerit lectus turpis, a porttitor velit imperdiet id.</p>
        <br>
        <p class="text">Nunc placerat dolor at lectus hendrerit dignissim. Ut tortor sem, consectetur nec hendrerit ut, ullamcorper ac odio. Donec viverra ligula at quam 
            tincidunt imperdiet. Nulla mattis tincidunt auctor. Nullam scelerisque ante mauris, egestas commodo nisi gravida ultrices. Suspendisse dapibus feugiat tincidunt. 
            Aliquam gravida quam at ipsum sagittis bibendum. 
        </p>    
        <div class="fullsep"></div>
        <br>
        <div class="sep"></div>
        <br>
        <div class="commentframe">    
            <div class="comments">
                <img class="smallimage" src="https://via.placeholder.com/50">
                <input class="addcomment">
            </div>
            <p class="notext">Be the first to comment.</p>   
        </div> 
        <div class="sep"></div>
    </div>
</div>
<div class="base">
    <p class="palo-alto2">Palo Alto</p>
    <div class="footer-menu">
        <button class="menu-button footer-button" style="color: #BDBDBD">HOME</button>
        <button class="menu-button footer-button" style="color: #FFFFFF">ABOUT</button>
        <button class="menu-button footer-button" style="color: #FFFFFF">ARCHIVE</button>
        <button class="menu-button footer-button" style="color: #FFFFFF">CONTACT</button>           
        <button class="search" style="color: #FFFFFF"><i class="fa fa-search"></i></button>
    </div>
    <p class="footertext">Nunc placerat dolor at lectus hendrerit dignissim. Ut tortor sem, consectetur nec hendrerit ut, ullamcorper ac odio. Donec viverra ligula at quam 
        tincidunt imperdiet. Nulla mattis tincidunt auctor.
    </p>
    <div class="sep2"></div>
    <div class="copyrightholder">
        <p class="copyright">© 2015 - Palo Alto. All Rights Reserved. Designed & Developed by <font color="white">PixelBuddha Team</font></p>
    </div>
    <div class="imageholder">
        <img style="margin-right: 23px;" src="https://via.placeholder.com/22">
        <img style="margin-right: 23px;" src="https://via.placeholder.com/22">
        <img style="margin-right: 23px;" src="https://via.placeholder.com/22">
        <img src="https://via.placeholder.com/22">
    </div>
</div>
    
