h2, h4 {
    color: #24a0ed;
}

.frame {
    min-width: 1440px;
}

.navButton {
    width: 80px;
    height: 25px;
    margin: 5px;
    background-color: #24a0ed;
    color: white;
    font-size: 14px;
    font-weight: bold;
    border: 0px;
    border-radius: 5px;
    cursor: pointer;
}

@media only screen and (max-width: 480px) {
    .frame {
        min-width: 480px;
    }
}

@media only screen and (max-width: 320px) {
    .frame {
        min-width: 320px;
    }
}